body{
    margin: 0;
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container{
    background-color: rgb(233, 204, 204);
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.completed{
    color: gray;
    text-decoration: line-through;
}
h1{
    background-color: rgb(38, 180, 236);
    color: white;
    margin: 0;
    padding:10px 20px;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'KoHo', sans-serif;
    font-weight: 700;
    outline: none;
}
li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: rgb(87, 59, 59);
    outline: none;
}
li:nth-child(2n){
    background-color: rgb(255, 210, 210);
}
input{
    font-size: 18px;
    background-color: rgb(255, 210, 210);
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: crimson;
    border: 3px solid rgba(0, 0, 0, 0);
}
input:focus{
    outline: none;
    background-color: white;
    border:3px solid skyblue;
}
.fa-plus{
    float: right;
}
span{
    background-color: rgb(0, 195, 255);
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1.0;
}
#download{
    color: skyblue;
    font-family: 'Cinzel', serif;
    margin: 100px auto;
    padding: 10px;
    font-size: 15px;
    background-color: crimson;
    border: 3px solid skyblue;
    border-radius: 10px;
    text-align: center;
    display: block;
    font-weight: bold;
}
#download:hover{
    background-color: skyblue;
    color: crimson;
    border: 3px solid crimson;
}